[submodule "watsonx-medical-mcp-server"]
	path = watsonx-medical-mcp-server
	url = https://github.com/ruslanmv/watsonx-medical-mcp-server.git
[submodule "watsonx-orchestrate"]
	path = watsonx-orchestrate
	url = https://github.com/ruslanmv/Installer-Watsonx-Orchestrate.git
	branch = automatic
